@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Outfit";
  text-align: center;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  background: #d5e1ef;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 960px;
}

/* 
.attribution {
  font-size: 11px;
  text-align: center;
  align-self: 
}

.attribution a {
  color: hsl(228, 45%, 44%);
} 

*/

.container {
  padding: 16px 16px 40px 16px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 499px;
  width: 320px;
  align-items: flex-start;
  gap: 24px;
}

.qr-img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 0 16px;
  align-items: center;
}

.large-text {
  line-height: 26.4px;
  font-weight: 700;
  align-self: center;
  font-size: 22px;
  width: 256px;
  height: 52px;
  color: #1f314f;
}

.small-text {
  line-height: 21px;
  font-weight: 400;
  align-self: center;
  font-size: 15px;
  width: 256px;
  height: 63px;
  color: #68778d;
}
